{% extends 'main.html'%}

{% block content %}
<h1>Projects</h1>
<table>
    <t>
        <th>ID</th>
        <th>Positive Votes</th>
        <th>Positive</th>
        <th>Vote</th>
        <th></th>
        <th></th>
    </t>
    {% for project in projects%}
    <tr>
        <td>{{project.id}}</td>
        <td>{{project.title}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.vote_ratio}} %</td>
        <td>{{project.created_at}}</td>
        <td><a href="{% url 'update-project' project.id%}">Edit</a></td>
        <td><a href="{% url 'delete-project' project.id%}">Delete</a></td>
        <td><a href="{% url 'project' project.id%}">view</a></td>

    </tr>
    {%endfor%}
</table>
<ul>
    {% for project in projects %}
    <li>Title:<a href="{% url 'project' project.id%}">{{project.title}} --- {{project.created_at}}</a></li>
    {% endfor %}
</ul>
{% endblock content %}